.signINContainer{
    -fx-background-color : #003d00;
}
.leftContainer{
    -fx-alignment : center;
}
.welcomeText{
    -fx-font-size : 3.5em;
    -fx-text-fill : #fff;
}
.welcomeText2{
    -fx-font-size : 1.5em;
    -fx-text-fill : #fff;
}
.rightContainer{
    -fx-background-color: #fff;
    -fx-spacing : 7;
}


.rightContainer TextField, .rightContainer PasswordField{
    -fx-background-color : #EDEFEE;
    -fx-pref-height : 35;
    -fx-font-size : 1.2em;
}
.rightContainer Button{
    -fx-background-color : #003d00;
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-text-fill : #fff;
    -fx-font-size : 1.2em;
}