.login_container{
    -fx-background-color : #fff;
}
.login_sider{
    -fx-background-color : #003d00;
    -fx-alignment : center;
}

.form_container{
    -fx-background-color : #fff;
    -fx-spacing : 7;
    -fx-alignment : top-left;
}
.form_container Label{
    -fx-font-weight : 700;
    -fx-font-size : 1.1em;
}
.form_container TextField, .form_container PasswordField{
    -fx-background-color : #EDEFEE;
    -fx-pref-height : 35;
    -fx-font-size : 1.2em;
}
.form_container Button{
    -fx-background-color : #003d00;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-text-fill : #fff;
    -fx-font-size : 1.2em;
}
#errorField{
    -fx-text-fill : #BE0F0F;
}

