

.menuBar{
    -fx-background-color : #d1d1d1;
    -fx-alignment : TOP-center;
    -fx-spacing : 20;
}
.navbar{
    -fx-alignment : center;
    -fx-spacing : 20;
}
.navbar Button{
    -fx-border-radius: 0px;
    -fx-background-color : #fff;
}
.messagesList{
    -fx-background-color : #6ec071;
}
.childPane{
    -fx-background-color: #fff;
}